
@model CopyForm3.Models.MainForm
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Full Name: @Html.TextBoxFor(x => x.Name) </p>
        <p>Company: @Html.TextBoxFor(x => x.Company)</p>
        <p>Phone: @Html.TextBoxFor(x => x.Phone)</p>

        <p>Email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Confirm Email: @Html.TextBoxFor(x => x.ConfirmEmail)</p>
        <p>
            Contact Regarding <br/>

            <label>@Html.RadioButtonFor(x => x.ContactRegarding, "Travel Services")Travel Services</label>
            <label>@Html.RadioButtonFor(x => x.ContactRegarding, "Planning")Planning</label>
            <label>@Html.RadioButtonFor(x => x.ContactRegarding, "Accomodations")Accomodations</label>
            <label>@Html.RadioButtonFor(x => x.ContactRegarding, "Other")Other</label>
        </p>
        <p>
            How did you hear about our Website
            @Html.DropDownListFor(x => x.HowHeard, new List<SelectListItem>
    {
                        new SelectListItem() {Text = "LinkedIn", Value="LinkedIn"},
                        new SelectListItem() {Text = "Facebook", Value="Facebook"},
                        new SelectListItem() {Text = "Carrier Pidgeon", Value="Carrier Pidgeon"}
    })


        </p>
        <p>
            Comments or Questions? <br/>
            @Html.TextAreaFor(x => x.Commnets[0], 25, 50, null);
        </p>
        <input type="submit" value="Submit RSVP" />
    }
</body>
</html>
